<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.example.Student" name="student">
        <property name="name" value="Urvish Soni" />
    </bean>

    <bean class="com.example.Person" name="person">
        <property name="name" value="Karan Soni" />
    </bean>
</beans>